.darkmode {
  cursor: pointer;
  padding: 0;
  position: relative;
  background: none;
  border: none;
  width: 20px;
  height: 20px;
  margin: 0 10px;
  text-align: inherit;

  & svg {
    position: absolute;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    fill: var(--light);
    filter: invert(88%) sepia(9%) saturate(427%) hue-rotate(206deg) brightness(83%) contrast(88%);
    transition: opacity 0.1s ease;
  }
}

:root[saved-theme="dark"] {
  color-scheme: dark;
}

:root[saved-theme="light"] {
  color-scheme: light;
}

:root[saved-theme="dark"] .darkmode {
  & > #dayIcon {
    display: none;
  }
  & > #nightIcon {
    display: inline;
  }
}

:root .darkmode {
  & > #dayIcon {
    display: inline;
  }
  & > #nightIcon {
    display: none;
  }
}

// .image-dark {
//   filter: invert(88%) sepia(9%) saturate(427%) hue-rotate(206deg) brightness(83%) contrast(88%);
// }
//
// .image-light {
//   filter: invert(52%) sepia(6%) saturate(1491%) hue-rotate(208deg) brightness(89%) contrast(89%);
// }
